
/.vscode/
/.idea/

/11_intro_to_tensorflow/9_lab/notMNIST_test.zip
/11_intro_to_tensorflow/9_lab/notMNIST.pickle
/11_intro_to_tensorflow/9_lab/notMNIST_train.zip

/15_image_classification_project/image_classification.*
/15_image_classification_project/*.p
/15_image_classification_project/cifar-10-python.tar.gz
/15_image_classification_project/checkpoint
/15_image_classification_project/.ipynb_checkpoints/
/15_image_classification_project/__pycache__/
/15_image_classification_project/cifar-10-batches-py/
/15_image_classification_project/dlnd_image_classification_question.ipynb

