
/.vscode/
/.idea/

1_linear_regression
2_numpy
3_perceptron
4_simplest_neural_network
5_gradient_descent
6_multilayer_perceptrons
7_backpropagation_exercise
8_first-neural-network
9_sentiment_classification_project
10_miniflow
11_intro_to_tensorflow
12_deep_neural_networks
13_convolutional_networks
14_weight_initialization
15_image_classification_project
16_autoencoder
17_transfer_learning
18_intro_to_rnn
19_word2vec
